@charset "utf-8";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: #333;
}

a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle;
}

button,
input,
select {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

optgroup {
  font-weight: bold;
}

input,
select,
textarea,
button {
  outline: 0;
}

textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

.placeholder {
  color: #999;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}@media screen and (max-width: 1024px) {
    .ft-right {
        display: none !important;
    }
    .ft-left {
        padding-left: 10px;
    }
}
@media screen and (max-width: 454px) {
    .hd-more-itme:first-child {
        display: flex !important;
    }
    .hd-more-itme:nth-child(2) {
        margin-top: 0;
    }
    .hd-nav-item:first-child,
    .hd-nav-item:nth-child(2) {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .hd-select {
        display: none;
    }
}
.header {
    width: 100%;
    height: 60px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 5px 0 5px;
}
.hd-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.hd-nav {
    line-height: 3.5em;
}
.hd-nav-item {
    display: inline-block;
    color: white;
    margin-right: 10px;
    max-width: 6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hd-nav-item:hover {
    color: #4ac2fb;
}
.hd-nav img {
    width: 100%;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
}
.hd-select {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    margin-top: 5px;
}
.hd-btn {
    position: absolute;
    width: 35px;
    height: 2.5rem;
    right: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    z-index: 9999;
}
.hd-select::after,
.hd-select::before {
    display: inline-block;
    position: absolute;
    content: ' ';
}
.hd-select::after {
    top: 9px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #4ac2fb;
}
.hd-select::before {
    top: 24px;
    right: 10px;
    width: 2px;
    height: 11px;
    background-color: #4ac2fb;
    transform: rotate(-45deg);
}
.hd-input {
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 0.5rem;
    border: 1px solid #d1d5da;
}
.hd-input:focus {
    border-color: #4ac2fb;
}
.hd-more-wrap {
    position: absolute;
    width: 150px;
    height: 0px;
    right: -0.1%;
    top: 106%;
    z-index: 9999;
    transition: height 0.4s ease-out;
    overflow: hidden;
}
.hd-more {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border: 1px solid #eaeaea;
    margin-top: 10px;
}
.hd-more-wrap.active {
    height: 150px;
}
.hd-more-itme {
    height: 35px;
    padding: 5px;
    line-height: 1.8em;
    cursor: pointer;
    margin: 0 5px 0;
}
.hd-more-itme:first-child {
    display: none;
}
.hd-more-itme:last-child {
    border-top: 1px solid #eaeaea;
}
.hd-more-itme:hover {
    background-color: #eaeaea;
}
.hd-more::before {
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 0; 
    height: 0;
    top: -8.5%;
    right: 13%;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 10px solid white;
    z-index: 99999;
}

.footer {
    width: 100%;
    height: 150px;
    padding: 30px 0 30px;
    background-color: rgb(51, 51, 51);
    color: white;
}
.ft-wrap {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
}
.ft-left {
    display: inline-block;
}
.ft-tt {
    margin-bottom: 10px;
}
.ft-list {
    margin-bottom: 20px;
}
.ft-item {
    color: white;
    margin-right: 10px;
}
.ft-item:hover {
    text-decoration: underline;
}
.ft-copy {
    color: silver;
}
.ft-right {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}
.ct-weixin,
.ct-qq,
.ct-email {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.ct-qq {
    background: url('http://www.fashengwang.com/image/contact.png') 0px 0px;
    background-size: cover;
}
.ct-weixin {
    background: url('http://www.fashengwang.com/image/contact.png') -40px 0px;
    background-size: cover;
}
.ct-email {
    background: url('http://www.fashengwang.com/image/contact.png') -20px 0px;
    background-size: cover;
}
.ct-qq-img,
.ct-email-img,
.ct-weixin-img {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 0;
    bottom: 25px;
    transition: height 0.4s cubic-bezier(0, 0.82, 0.58, 1);
    overflow: hidden;
}
.ct-qq-img {
    left: 30px;
}
.ct-weixin-img {
    left: 60px;
}
.ct-email-img {
    left: 90px;
}
.ct-qq-img.active {
    height: 100px;
}
.ct-weixin-img.active {
    height: 100px;
}
.ct-email-img.active {
    height: 100px;
}
.contact {
    display: inline-block;
}@media (max-width: 767px) {
    .register-right {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .register {
        width: 90% !important;
        max-width: 380px;
    }
    .register-bar {
        display: none;
    }
}
body {
    height: 100vh;
    overflow: hidden;
}
.header {
    background-color: rgba(51, 51, 51, 0) !important;
}

.main {
    width: 100%;
    height: 100vh;
    background: url('http://www.fashengwang.com/image/register.jpg') no-repeat;
    background-size: cover;
}
.register {
    display: flex;
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 800px;
    color: white;
}
.register-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.register-input {
    width: 75%;
    margin-bottom: 10px;
    color: #333;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 1px 2px #1b1f2313;
    padding-left: 5px;
}
.register-input:focus {
    border-color: rgb(74, 194, 251);
    box-shadow: inset 0 1px 2px #1b1f2313, 0 0 0 0.2em rgb(74, 194, 251, 0.3);
}
.register-msg {
    display: none;
    margin: -10px 0 10px;
    color: red;
}
.register-msg.active {
    display: block;
}
.send-code {
    display: inline-block;
    position: relative;
    background-color: rgb(75, 195, 251);
    border-radius: 3px;
    width: 80px;
    height: 23px;
    top: -4px;
    text-align: center;
}
.send-code:hover {
    background-color: rgb(22, 140, 237);
    cursor: pointer;
}
.send-code.no:hover {
    cursor: not-allowed;
}
.register-btn {
    background-color: rgb(75, 195, 251);
    border: none;
    width: 15%;
    height: 35px;
    margin-right: 10px;
}
.register-btn:hover {
    background-color: rgb(22, 140, 237);
}
.register-bar {
    background-color: white;
    width: 1px;
}
.register-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-tt {
    font-size: 24px;
    font-family: 宋体;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0) !important;
}
.hd-nav-item:not(:first-child) {
    display: none;
}
.hd-select {
    display: none;
}